<div class="bg-dark min-vh-100" >
  <div class="container px-2 py-5">

  

  <% @users.each do |user| %>
  
  <div class="text-white d-flex gap-3 pb-4" >

    
    <div class="flex-grow-1  bg-success" >
       <img src="#" alt=""> 
    </div>
    <div class="flex-grow-1 w-50 bg-primary py-4 px-4 d-flex flex-column gap-3" >      
      
      <a class="text-white"  href="/users/<%=user.id%>"  >
        <h2><%=user.name%></h2>      
      </a>
      <h6 class="text-end pe-4" >Number of posts: <%=user.posts_counter%>  </h6>
    </div>

  </div>

  <% end %>

</div>

</div>


