<h1>here you can see a list of the users</h1>
<%= link_to 'Ver Usuario', user_path(2) %>



<div class="container bg-primary d-flex flex-column text-center" >
  <div class="mb-5" >
  <h1>asdfasdfasdf</h1>
  
  </div>  
  <div>
  <h1>asdfasdfasdf</h1>
  
  </div>  
  
  

</div>
